body {
    min-height: 100%;
    padding: 0;
    margin: 0;
}

.app {
    width: 100%;
    display: flex;
    margin: 0 auto;
    height: 100vh;
    background-image: url(./images/img_background.svg);
    background-repeat: repeat-y;
    background-size: 38%;
}

.app_wrapper {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card_body {
    display: flex;
    align-items: center;
    gap: 160px;
    margin: 0 107px 0 160px;
}

.card_previews {
    max-width: 540px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.card_preview {
    max-width: 447px;
    position: relative
}

.card_preview_front .card_logo {
    position: absolute;
    padding: 25px;
    background-color: #FFF;
    top: 32px;
    left: 32px;
}

.card_preview_front .card_logo_small {
    position: absolute;
    padding: 13px;
    border: 2px solid #F5F5F5;
    top: 45px;
    left: 96px;
}

.card_preview_front .card_text {
    bottom: 20px;
    width: -webkit-fill-available;
    padding: 0 35px;
}

.card_preview_back {
    margin-left: 80px;
}

.card_preview_back .card_text {
    top: 44%;
    right: 56px;
}

.card_text {
    position: absolute;
    color: #fff,
}

.card_number {
    margin-bottom: 13px;
    color: #F5F5F5;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    margin-top: -108px;
}

.card_bottom {
    display: flex;
    justify-content: space-between;
    color: #F5F5F5;
    font-size: 16px;
    font-family: Montserrat;
}

.card_name {
    letter-spacing: 1.5px;
    color: #F5F5F5;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}

.occult {
    display: none;
}

.error {
    position: relative;
    border: 1px solid red;
    outline: none;
}

form span {
    margin-left: 14px;
    position: absolute;
    display: block;
    font-size: 0.8rem;
    color: red;
    font-size: 14px;
    font-family: Montserrat;
}

.card_date {
    color: #F5F5F5;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}

.card_cvc {
    letter-spacing: 1px;
    color: #F5F5F5;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
}

.card-form_fields {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.card-form_field {
    width: 100%;
    border-radius: 20px;
}

.form-field-calculator {
    display: flex;
    gap: 16px
}

.form-field.error .form-field_note-invalid {
    display: block;
    font-size: 14px;
    margin-top: 8px;
}

.form-field:nth-child(3) {
    max-width: 155px;
}

.form-field:nth-child(4) {
    max-width: 202px;
}

.form-field_label {
    display: inline-block;
    margin-bottom: 10px;
    color: #808080;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;

}

.cvc-warn,
.month-year-warn,
.number-warn,
.name-warn {
    color: red;
    display: none;
}

.card_info {
    max-width: 460px;
}

form input {
    width: 100%;
    height: 55px;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    border: double 1px transparent;
    background-image: linear-gradient(white, white), linear-gradient(to right, #6A5ACD, #FF7F50);
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-color: #FFF;
    outline: none;
}

form input[type="text"] {
    display: inline-block;
    text-indent: 15px;
}

.form-field_input._input-month,
.form-field_input._input-year {
    width: 90px;
}



.form-field_input._input-month {
    margin-right: 5px;
}

.form-field_note-invalid {
    display: none;
}

.card-notify {
    text-align: center;
}

.card-notify_img {
    margin-bottom: 40px;
}

.card-notify_title {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 24px;
}

.card-notify_text {
    font-size: 18px;
    color: #8e8593;
    margin-bottom: 50px;
}

.btn {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: #3A0652;
    border-radius: 15px;
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.completion-message {
    width: 450px;
    text-align: center;

}

.occult {
    width: 496px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

.occult img {
    margin-bottom: 1.5rem;
}

.thanks {
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 700;
    color: #3A0652;
    padding-bottom: 9px;

}

.sub-title {
    padding-bottom: 9px;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 500;
    color: #808080;
}

span#YYerror {
    margin-left: 108px;
}

input#MM {
    width: 44%;
}

input#YY {
    width: 44%;
}

@media(max-width: 768px) {

    .app {
        height: 31vh;
        width: 100%;
        background-size: 480px;
        margin: 0 auto;
    }

    .app_wrapper {
        padding: 0 40px;
    }

    img {
        width: 288px;
        height: 160px;
    }

    .card_previews {
        flex: 0 1 100%;
        width: 100%;
        min-height: 254px;
        position: relative;
    }

    .card_preview {
        min-width: 286px;
        height: auto;
        min-height: 156px;
        position: absolute;
    }

    .card_preview_front {
        left: 0px;
        top: 165px;
    }

    .card_preview_back {
        top: 30px;
        right: 0;
        margin-left: 72px;
    }

    .card_info {
        margin-top: -35px;
    }

    .card_body {
        flex-direction: column;
        margin: 0;
    }

    .card_preview_front .card_logo {
        padding: 15px 15px;
        border-radius: 20px;
        top: 25px;
        left: 25px;
    }

    .card_preview_front .card_logo_small {
        padding: 8px 8px;
        border-radius: 20px;
        top: 31px;
        left: 64px;
    }

    .card_preview_front .card_text {
        top: 193px;
        bottom: 13px;
        width: -webkit-fill-available;
        padding: 0 27px
    }

    .card_number {
        width: 100%;
        color: #DEDDDF;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;

    }

    .form-field-calcul input {
        border-radius: 10px;
    }

    .card_bottom {
        gap: 52px;
    }

    .card_name {
        font-size: 14px;
    }

    .card_date {
        font-size: 12px;
        font-weight: 400;
    }

    .form-field_label {
        font-size: 14px;
    }

    .btn {
        width: 100%;
        border-radius: 10px;
        background: #21092F;
        border: none;
    }

    .card-notify_text {
        font-size: 16px;
        margin-bottom: 24px;
    }

    .form-field-calculator {
        display: flex;
        gap: 0px;
    }

    .form-field-calcul input {
        height: 41px;
    }

    .form-field input {
        width: 100%;
        height: 41px;
        border-radius: 10px;
        font-size: 14px;
    }

    .form-field-cvc input {
        border-radius: 10px;
        height: 41px;
    }

    form input[type="text"] {
        display: inline-block;
        text-indent: 15px;
    }

    .form-field_input .input-name {
        letter-spacing: 1.5px;
        color: #F5F5F5;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
    }

    .card-form_fields {
        gap: 24px 17px;
        margin-bottom: 24px;
    }

    .form-field_label {
        margin-bottom: 9px;
    }

    .form-field_input._input-month {
        max-width: 70px;
        margin-right: 5px;
    }

    .form-field_input._input-cvc {
        max-width: 160px;
    }

    .completion-message {
        margin-top: -160px;
        width: 250px;
    }

    .completion-message img {
        width: 50px;
        height: 50px;
    }

    .sub-title {
        font-size: 12px;
        padding-bottom: 9px;
    }

    input#MM {
        width: 45%;
    }

    input#YY {
        width: 45%;
    }

    form span {
        margin-left: 0;
        position: absolute;
        display: block;
        font-size: 0.8rem;
        color: red;
        font-size: 12px;
        font-family: Montserrat;
    }

    span#YYerror {
        margin-left: 77px;
    }

    .card_bottom {
        gap: 0;
        font-size: 12px;
    }

}