body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
}

.app {
    height: 100vh;
    background-image: url(./images/img_background.svg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 0 0
}

.app_wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10px
}

.main {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center
}

.main .card {
    width: 100%;
}

.card_body {
    display: flex;
    align-items: center;
    gap: 160px
}

.card_previews {
    flex: 0 1 51.4285714286%;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    gap: 24px
}

.card_preview {
    max-width: 447px;
    position: relative
}

.card_preview_front:after {
    /* content: ""; */
    position: absolute;
    width: 100%;
    max-width: 84px;
    height: 100%;
    max-height: 50px;
    left: 25px;
    top: 25px;
    background: url(../img/card-logo.cc3abd1d.svg);
    background-repeat: no-repeat;
    background-size: 100%
}

.card_preview_front .card_text {
    bottom: 20px;
    margin-left: 36px;
    
}

.card_preview_back {
    align-self: flex-end;
    text-align: right;
    box-shadow: 0 0 30px -15px #8e8593
}

.card_preview_back .card_text {
    top: 50%;
    right: 50px;
}

.card_img {
    width: 100%;
}

.card_text {
    position: absolute;
    color: #fff
}

.card_number {
    margin-bottom: 16px;
    color: #F5F5F5;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
}

.card_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #F5F5F5;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}
.card_name {
    /* text-transform: uppercase; */
    letter-spacing: 1.5px
}

.card_cvc {
    font-size: 18px;
    letter-spacing: 1px
}

.card_info {
    max-width: 384px;
}






.card-form_fields {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px 20px
}

.card-form_field {
    width: 100%
}

.form-field.error .form-field_note-invalid {
    display: block;
    font-size: 13px;
    color: red;
    margin-top: 8px
}

.form-field:nth-child(3) {
    max-width: 170px
}

.form-field:nth-child(4) {
    max-width: 190px
}

.form-field_label {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #21092f;
    margin-bottom: 10px
}

.form-field_input {
    width: 100%;
    max-height: 45px;
    display: inline-block;
    border: 1px solid #dedddf;
    border-radius: 8px;
    padding: 13px 14px
}

.form-field_input.error {
    border: 1px solid #ff5252
}

.form-field_input::-moz-placeholder {
    font-size: 18px;
    color: #dedddf
}

.form-field_input::placeholder {
    font-size: 18px;
    color: #dedddf
}

.form-field_input:focus {
    outline: none;
    border: .3px solid #600594
}

.form-field_input._input-month,
.form-field_input._input-year {
    max-width: 80px
}

.form-field_input._input-month {
    margin-right: 10px
}

.form-field_input._input-cvc {
    max-width: 190px
}

.form-field_note-invalid {
    display: none
}

.card-notify {
    text-align: center
}

.card-notify_img {
    margin-bottom: 40px
}

.card-notify_title {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 24px
}

.card-notify_text {
    font-size: 18px;
    color: #8e8593;
    margin-bottom: 50px
}





a,
a:visited {
    text-decoration: none;
    color: inherit
}

a:hover,
button:hover {
    cursor: pointer
}

button,
input,
textarea {
    font-family: Space Grotesk, sans-serif;
    font-size: inherit
}


.btn {
    width: 100%;
    max-height: 52px;
    max-width: 382px;
    font-size: 18px;
    color: #fff;
    background-color: #21092f;
    border-radius: 8px;
    padding: 15px;
    transition: all .3s ease 0s
}

.btn:hover {
    background-color: #600594
}
















@media(max-width: 768px) {
    .main {
        align-items: flex-start
    }

    .main .card {
        margin-top: 30px
    }

    .app {
        background-image: url(../img/bg-main-mobile.c46c7969.png);
        background-size: 100% 240px;
        background-position: 0 0
    }

    .app_wrapper {
        padding: 0 15px
    }

    .card_previews {
        flex: 0 1 100%;
        width: 100%;
        max-width: none;
        min-height: 254px;
        gap: 0;
        position: relative
    }

    .card_preview {
        width: 76.5333333333%;
        min-width: 286px;
        height: auto;
        min-height: 156px;
        position: absolute
    }

    .card_preview_front {
        z-index: 2;
        left: 0;
        top: 35%
    }

    .card_preview_back {
        top: 0;
        right: 0
    }

    .card_info {
        width: 100%
    }

    .card_body {
        flex-direction: column;
        gap: 150px;
        gap: 0
    }
    .form-field:nth-child(3) {
        max-width: 150px
    }

    .form-field:nth-child(4) {
        max-width: 160px
    }

    .form-field_input._input-month,
    .form-field_input._input-year {
        max-width: 70px
    }

    .form-field_input._input-month {
        margin-right: 5px
    }
    .card-form_fields {
        gap: 20px
    }
}